.report1-container {
    position: relative;
  }
  
  .blur-overlay-report1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%; 
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
  }
  .upgrade-text{
    margin-top: 0;
    margin-bottom: 0;
  }
  .upgrade-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background:#FEF7EF ; 
    color: #FA822C; 
    padding: 12px 20px;
    border: 1px solid #FEF7EF;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    max-width: 400px;
    margin: 10px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .upgrade-box:hover {
    background: #FEF7EF;
  }
  
  .upgrade-icon {
    font-size: 18px;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-content {
    width: 50%;
    height: 65%;
    background: #f9f6f2;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  